*.mod
actuator.f90
amd64_g95
amd64_gfortran
amd64_ifort
amd64_pgi
atomic_data.f90
controllers.f90
core_profiles.f90
core_sources.f90
core_transport.f90
CPODef2F90Routines.xsl
development
em_coupling.f90
equilibrium.f90
IDSDef2F90Makefile.xsl
IDSDef2F90Routines.xsl
ids_routines.f90
ids_schemas.f90
magnetics.f90
pf_active.f90
pf_passive.f90
schedule.f90
sdn.f90
simulation.f90
temporary.f90
tf.f90
xsd2F90TypeDef.xsl
tests/generator/helper.f90
tests/generator/IDSDef2TestSuite.xsl
tests/generator/testSuite.f90
Makefile
makefile-gen
