g95_*
gfortran_*
ifort_*
nvfortran_*
*.log
test_core_profiles_get
test_core_profiles_put
test_core_profiles_put_slice
test_core_profiles_validate
test_core_sources_get
test_core_sources_put
test_core_sources_put_slice
test_creation_date_plugin
test_debug_plugin
test_distributions_validate
test_edge_profiles_get
test_edge_profiles_memory
test_edge_profiles_put
test_edge_profiles_put_slice
test_empty_aos
test_empty_dynamic_aos
test_empty_static_aos
test_ids_serialize
test_magnetics_get
test_magnetics_memory
test_magnetics_put
test_magnetics_validate
test_multi_put_slice_dynamic
test_multi_put_slice_static
test_partial_plugin
test_patch_reader_plugin
test_pf_put
test_pf_put_slice
test_pulse_create
test_version
test_waves_validate
